<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} - Åverbilt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
            <div class = "nav_container">
                    <div class="nav_btn">
                            <label for="nav_check">
                              <span></span>
                              <span></span>
                              <span></span>
                            </label>
                        </div>
                        <input type="checkbox" id="nav_check">
                        <div class = "menu solid_nav">
                            <img src="/assets/media/logo.svg">
                            <div>
                                <div class="menu_inner"><div><a href="/#about-us">About us</a></div></div>
                                <div class="menu_inner"><div><a href="/projects/">Our projects</a></div></div>
                                <div class="menu_inner"><div><a href="/contact/"><svg width="1em" height="1em" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g><path d="M 30,8L 2,8 C 0.896,8,0,8.896,0,10l0,20 c0,1.104, 0.896,2, 2,2l 28,0 c 1.104,0, 2-0.896, 2-2L 32,10 C 32,8.896, 31.104,8, 30,8z M 11.36,22.054l 4.644,3.156l 4.616-3.178L 28.586,30L 3.414,30 L 11.36,22.054z M 2,28.586L 2,15.69 l 7.676,5.218L 2,28.586z M 22.294,20.88 L 30,15.576l0,13.010 L 22.294,20.88z M 30,10l0,3.236 l-0.042-0.060l-13.962,9.614L 2,13.274L 2,10 L 30,10 z"></path></g></svg></a></div></div>
                                <div class="menu_inner"><div><a href="/"><svg width="1em" height="1em" viewBox="0 0 32.25 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="inherit"><g><path d="M 1.624,17.782L 4,15.882L 4,30 c0,1.104, 0.896,2, 2,2l 6,0 c 1.104,0, 2-0.896, 2-2l0-8 l 4,0 l0,8 c0,1.104, 0.896,2, 2,2l 6,0 c 1.104,0, 2-0.896, 2-2L 28,15.882 l 2.376,1.9C 30.56,17.928, 30.78,18, 31,18c 0.294,0, 0.584-0.128, 0.782-0.376 c 0.344-0.432, 0.274-1.060-0.156-1.406l-15-12c-0.366-0.292-0.884-0.292-1.25,0L 10,8.518L 10,6 c0-1.104-0.896-2-2-2S 6,4.896, 6,6l0,5.718 l-5.624,4.5c-0.43,0.346-0.5,0.974-0.156,1.406C 0.564,18.056, 1.192,18.126, 1.624,17.782z M 16,6.28l 10,8L 26,30 l-6,0 l0-10 L 12,20 l0,10 L 6,30 L 6,14.282 L 16,6.28z "></path></g></svg></a></div></div>
                            </div>
                        </div>
                </div>
    </nav>
    <main>
{{ content }}

    </main>
    <footer>
        <div class="top_footer">Åverbilt : pronounced <span class="italic">ove’r-bilt</span>.</div>
        <div class="bottom_footer"></div>
    </footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>